body {
	font-family: "Calibri";
	overflow: hidden;
	background: linear-gradient(170deg, #102, #211, #102, #201, #102, #021, #102, #102);
	padding-left: 212pt;
	padding-right: 60pt;
}

body > div {
	padding-bottom: 10pt;
	color: #88AAFF;
}

img.avatar, div#tabList {
	position: absolute;
	left: 10pt;
	width: 200pt;
}

img.avatar {
	top: 10pt;
	border-radius: 20pt;
}

div#tabList, div#mainContent {
	overflow-y: scroll;
	overflow-x: hidden;
	scrollbar-color: #402 #102;
}

div#tabList > div, div#tabList > a {
	margin-right: 8pt;
	display: block;
	text-decoration: none;
	color: #88AAFF;
	border-radius: 6pt;
}

div.mainTitle {
	font-size: 200%;
	text-align: center;
	padding-top: 10pt;
}

div.secondaryTitle {
	font-size: 150%;
	text-align: center;
	padding-top: 10pt;
	padding-bottom: 10pt;
}

span.toprightAction, a.toprightAction {
	position: absolute;
	top: 10pt;
	right: 10pt;
	cursor: pointer;
	text-decoration: none;
	color: #88AAFF;
}

span.button, a.button {
	color: #AACCFF;
	padding: 0pt 4pt;
	border-radius: 5pt;
	background: rgba(150, 200, 250, 0.2);
	cursor: pointer;
	text-align: center;
}

span.button.bigger {
	font-size: 110%;
}

span.button.highviz {
	background: rgba(0, 20, 50, 0.8);
}

div.buttonBar > span.button, div.buttonBar > a.button {
	padding: 2pt 10pt;
	border-radius: 5pt;
	margin: 0pt 10pt;
}

span.button:hover, a.button:hover {
	background: rgba(150, 200, 250, 0.5);
}

span.button.unchecked {
	background: none;
	border: 1px solid rgba(150, 200, 250, 0.5);
}

span.button.checked {
	background: rgba(150, 200, 250, 0.6);
}

div.line:hover {
	background: rgba(255, 0, 255, 0.19);
}

div.line > span {
	display: inline-block;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	vertical-align: top;
}

div#tabList > a:hover {
	background: rgba(255, 0, 255, 0.1);
}

div#tabList > a.selectedTab {
	background: rgba(255, 0, 255, 0.25);
}

div.relContainer {
	position: relative;
	height: 0;
	width: 100%;
}

a.sidebar, div.sidebar, div.projectbar {
	position: absolute;
	right: 10pt;
	width: 50pt;
	cursor: pointer;
}

a.sidebar > img.avatar, div.sidebar > img.avatar {
	position: relative;
	width: 100%;
	border-radius: 5pt;
	left: 0;
	top: 0;
}

div.footer {
	height: 200pt;
}

div.projectbar {
	bottom: 10pt;
}

div.projectbar > a {
	border: 3pt solid black;
	border-radius: 5pt;
	text-align: center;
	height: 30pt;
	display: inline-block;
	text-decoration: none;
}

span.vertAligner {
	display: inline-block;
	height: 100%;
	vertical-align: middle;
}

div.projectbar > a, div.projectbar > a > img {
	width: 100%;
}

div.projectbar > a {
	margin-top: 5pt;
	background: radial-gradient(rgba(255, 255, 255, 1), rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.0));;
}

div.projectbar > a:hover {
	background: rgba(255, 255, 255, 1);
}

div.projectbar > a > img {
	max-height: 80%;
	max-width: 80%;
	vertical-align: middle;
}
