body {
	overflow: hidden;
	background: linear-gradient(170deg, #102, #211, #102, #201, #102, #021, #102, #102);
	padding-left: 212pt;
	padding-right: 60pt;
}

body, input, textarea, select {
	# font-family: serif;
	# font-family: "Calibri";
	font-family: "Lexend";
	# font-family: "Droid Sans Fallback";
}

input, textarea, select {
	color: #AACCFF;
	background: rgb(24, 0, 27);
	border: 1px solid rgb(80, 60, 160);
	border-radius: 4pt;
	padding: 0pt 4pt 1pt 4pt;
	font-size: 1em;
}

body > div {
	padding-bottom: 10pt;
	color: #88AAFF;
}

img.avatar, div#tabList {
	position: absolute;
	left: 10pt;
	width: 200pt;
}

img.avatar {
	top: 10pt;
	border-radius: 20pt;
}

img.avatar:hover {
	filter: brightness(135%);
}

div#tabList, div#mainContent {
	overflow-y: scroll;
	overflow-x: hidden;
	scrollbar-color: #402 #102;
}

div#tabList > div, div#tabList > a {
	margin-right: 8pt;
	display: block;
	text-decoration: none;
	color: #88AAFF;
	border-radius: 6pt;
}

div.mainTitle {
	font-size: 200%;
	text-align: center;
	padding-top: 10pt;
}

div.secondaryTitle {
	font-size: 150%;
	text-align: center;
	padding-top: 10pt;
	padding-bottom: 10pt;
}

span.toprightAction, a.toprightAction {
	right: 10pt;
}

/* the bottomrightAction buttons are located outside of the content div, so they need to be offset against the right HUD */
span.bottomrightAction, a.bottomrightAction {
	right: 85pt;
}

span.topleftAction, a.topleftAction, span.bottomleftAction, a.bottomleftAction {
	left: 220pt;
}

span.toprightAction, a.toprightAction, span.topleftAction, a.topleftAction {
	top: 10pt;
}

span.bottomrightAction, a.bottomrightAction, span.bottomleftAction, a.bottomleftAction {
	bottom: 10pt;
}

span.toprightAction, a.toprightAction, span.topleftAction, a.topleftAction,
span.bottomrightAction, a.bottomrightAction, span.bottomleftAction, a.bottomleftAction {
	position: absolute;
	cursor: pointer;
	text-decoration: none;
	color: #88AAFF;
}

span.button, a.button {
	color: #AACCFF;
	padding: 0pt 4pt;
	border-radius: 5pt;
	background: rgba(150, 200, 250, 0.2);
	cursor: pointer;
	text-align: center;
}

span.button.bigger {
	font-size: 110%;
}

span.button.highviz {
	background: rgba(0, 20, 50, 0.8);
}

div.buttonBar > span.button, div.buttonBar > a.button {
	padding: 2pt 10pt;
	border-radius: 5pt;
	margin: 0pt 10pt;
}

span.button:hover, a.button:hover {
	background: rgba(150, 200, 250, 0.5);
}

span.button.unchecked {
	background: none;
	border: 1px solid rgba(150, 200, 250, 0.5);
}

span.button.checked {
	background: rgba(150, 200, 250, 0.6);
}

div.modal {
	display: none;
	position: absolute;
	top: 100pt;
	left: 100pt;
	right: 100pt;
	border-radius: 16pt;
	background: linear-gradient(15deg, rgb(60, 20, 50), rgb(40, 0, 80), rgb(60, 20, 50));
	padding: 15pt;
	opacity: 0.95;
}

div.modal textarea {
	width: 100%;
	box-sizing: border-box;
}

div.modal > div.column {
	width: 18%;
	display: inline-block;
}

div.line:hover {
	background: rgba(255, 0, 255, 0.19);
}

div.line > span {
	display: inline-block;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	vertical-align: top;
}

div#tabList > a:hover {
	background: rgba(255, 0, 255, 0.1);
}

div#tabList > a.selectedTab {
	background: rgba(255, 0, 255, 0.25);
}

div.relContainer {
	position: relative;
	height: 0;
	width: 100%;
}

a.sidebar, div.sidebar, div.projectbar {
	position: absolute;
	right: 10pt;
	width: 50pt;
	cursor: pointer;
}

a.sidebar > img.avatar, div.sidebar > img.avatar {
	position: relative;
	width: 100%;
	border-radius: 5pt;
	left: 0;
	top: 0;
}

div.footer {
	height: 200pt;
}

div.projectbar {
	bottom: 10pt;
}

div.projectbar > a {
	border: 3pt solid black;
	border-radius: 5pt;
	text-align: center;
	height: 30pt;
	display: inline-block;
	text-decoration: none;
}

span.vertAligner {
	display: inline-block;
	height: 100%;
	vertical-align: middle;
}

div.projectbar > a, div.projectbar > a > img {
	width: 100%;
}

div.projectbar > a {
	margin-top: 5pt;
	background: radial-gradient(rgba(255, 255, 255, 1), rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.0));;
}

div.projectbar > a:hover {
	background: rgba(255, 255, 255, 1);
}

div.projectbar > a > img {
	max-height: 80%;
	max-width: 80%;
	vertical-align: middle;
}

div#temporary_overlay {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(0,0,0,0.5);
	margin: 0;
	padding: 0;
	z-index: 20000;
}

div.taskDetails {
	display: block;
	border: 1px solid #65D;
	border-radius: 10pt;
	margin-top: 4pt;
	margin-bottom: 8pt;
	margin-right: 2pt;
	padding: 6pt;
}

div.taskDetails > textarea {
	width: 99%;
	height: 80pt;
}
